body{
  background-color: #f7ddfc;
}
.banner{
  background-color: #F8CBAE;
  margin: auto;
}
.banner1{
  background-color: #f7ddfc;
  margin: auto;
}
.responsiveImage{
  width: 92%;
  height: auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.responsiveImage1{
  width: 90%;
  height: auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.responsiveImage2{
  width: 80%;
  height: auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* For width 1000px and smaller: */
@media only screen and (max-width: 1000px) {
  .ThuNgoImage{
    width: 200px;
  }
}
.ThuNgoImage{
  width: 90%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.navbar-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.paragraphe {
  text-indent: 40px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Livvic', sans-serif;
  font-size: 20px;
}
.jumbotron{
  padding-top: 0.50%;
  background-color: #f7ddfc;
}
.navbar{
  background-color: black!important;
  padding-top: 4px;
  padding-bottom: 4px;
}
.nav-item{
  background-color: #4c0080;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
  /*border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;*/
  height: 100% !important;
}
.nav-link{
  color: white!important;
  font-family: 'Merriweather', serif;
  text-shadow: 1px 1px #000000;
}
.dropdown-item{
  font-family: 'Merriweather', serif;
}
.nav-item:hover,
.nav-item:focus{
  color: white!important;
  background-color: #7a0099!important;
}
.dropdown-item:hover,
.dropdown-item:focus{
  color: white!important;
  text-shadow: 1px 1px #000000;
  background-color: #7a0099!important;
}
.active{
  text-shadow: 1px 1px #000000;
  background-color: #7a0099!important;
}
.btn-primary{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
object{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.containerPDF {
  display:block;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  width: 90%;
  padding-top: 130%;
}
