body{
  background-color: #fae8d4;
}
.banner{
  background-color: #f8cbae;
  /*background-image: url(images/image_de_fond.jpg); */
  margin: auto;
  user-select: none;
}
.banner1{
  background-color: #fae8d4;
  background-image: url(images/image_de_fond.jpg);
  margin: auto;
}
.responsiveImage{
  width: 92%;
  height: auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.responsiveImage1{
  width: 90%;
  height: auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
  }
.responsiveImage2{
  width: 80%;
  height: auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.ThuNgoImage{
  width: 85%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.navbar-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.paragraphe {
  text-indent: 0px;
  margin-left: 7%;
  margin-right: 7%;
  font-family: 'Livvic', sans-serif;
  font-size: 17px;
  line-height: 20px;
}
.paragraphe1 {
  text-indent: 0px;
  margin-left: 7%;
  margin-right: 7%;
  font-family: 'Livvic', sans-serif;
  font-size: 17px;
  line-height: 25px;
  user-select: none;
}
.paragraphe2 {
  text-indent: 0px;
  margin-left: 9%;
  margin-right: 7%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  user-select: none;
}
.titparagraphe {
  text-indent: 0px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 21px;
  /*font-weight: bold;*/
  line-height: 26px;

}
.jumbotron{
  padding-top: 0.50%;
  background-color: #fae8d4;
}
.jumbotron1{
  padding-top: 1%;
  background-color: #ffffff;
  width: 85%;
  display:block;
  margin-top: 1%;
  margin-left:auto;
  margin-right:auto;
  
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 20px;
  border: 3px solid #e0bdfe;

  }
.jumbotron2{
  padding-top: 1%;
  width: 85%;
  display:block;
  margin-top: 1%;
  margin-left:auto;
  margin-right:auto;
  /*border: 3px solid #ece6eb; */
  background: linear-gradient(to right, #e0bdfe , #ece6eb,#f7f5f7,#ffffff,#ffffff,#ffffff,#f7f5f7,#ece6eb,#e0bdfe);*/

}
.jumbotron3{
  background-color: #ffffff;
  width: 87%;
  display:block;
  margin-top: 0%;
  margin-left:auto;
  margin-right:auto;
  border: 3px solid #e0bdfe;

  }
.navbar{
  background-color: grey!important;
  /*background: linear-gradient(to right, #e9e2e8 , #ece6eb,#f7f5f7,#ffffff,#ffffff,#ffffff,#f7f5f7,#ece6eb,#e9e2e8);*/
  padding-top: 2px;
  padding-bottom: 2px;
}

.nav-item{
  background-color: #4c0080;
  margin-left: 2px;
  margin-right: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-radius: 6px;
  /*background: linear-gradient(#4c0080,#8555ac); */
  /*border: 2px solid #7a0099;*/
  /*height: 100% !important;*/
}
.nav-link{
  color: white!important;
  font-family: 'Merriweather', serif;
  text-shadow: 1px 1px #000000;
  line-height: 14px;
  font-size: 13px;
 }
 @media only screen and (max-device-width:1100px)
 {
  .nav-link{
  color: white!important;
  font-family: 'Merriweather', serif;
  text-shadow: 1px 1px #000000;
  line-height: 12px;
  font-size: 10px;
 }
 }
.dropdown-item{
  font-family: 'Merriweather', serif;
  font-size: 13px;
  border-top: 1px solid #eeebf8;
}
.nav-item:hover,
.nav-item:focus{
  color: white!important;
  background-color: #8555ac!important;
}
.dropdown-item:hover,
.dropdown-item:focus{
  color: white!important;
  text-shadow: 1px 1px #000000;
  background-color: #7a0099!important;
}
.active{
  /*background-color: #7a0099;*/
  background: linear-gradient(#7a0099,#8555ac , #7a0099);
  border: 1px solid #4c0080;
}
.btn-primary{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.boutonSon{

  display: inline-block;
  position: absolute;
  width: 12%;
  height: auto;
  top: 50%;
  left: 25%;
  border: 1pt solid grey;
  transform: translate(-80%, -80%);
}
.menu-tintuc {
  left: 0;
  color: #0a0be2;
  margin: auto;
}
.menu-tintuc a {
  display:block;
  color: #7a0099;
  font-family: 'Merriweather', serif;
  font-size: 13px;
}
.menu-tintuc a:hover {
  color: black;
  text-decoration: none;
}
img {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}
.info-table{
  font-family: 'Livvic', sans-serif;
  font-size: 18px;
  line-height: 31px;
  color: black;
}

.detail-table{
  vertical-align: text-bottom;
  font-family: 'Livvic', sans-serif;
  font-size: 18px;
  line-height: 31px;
  color: black;
}

.div-paragraphe{
  text-indent: 0px;
  font-family: 'Livvic', sans-serif;
  font-size: 22px;
  text-align: center;
  width: 75%;
  text-align: center;
  margin-left: 12%;
  color: purple;
}
